<p>info works!</p>
<h2>Filtrar por numero de curso</h2>
<hr>

<form [formGroup]="fgvalidacion" *ngIf="!mostrarFormulario">
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <h6 class="subtitulo">Datos Del Curso</h6>
    </div>
    <div class="margin-zona">
      <div class="col-12 my-4">
        <label class="form-label" for="numeroCurso"><strong>Numero de Curso</strong></label>
        <input class="form-control" formControlName="numeroCurso" type="text">
        <span *ngIf="fgvalidacion.get('numeroCurso')?.invalid
              && fgvalidacion.get('numeroCurso')?.dirty" class="text-danger">
          {{getErrorMessage('numeroCurso')}}
        </span>
      </div>
    </div>
    <div class="margin-zona d-flex justify-content-center mt-7">
      <button class="btn btn-primary" (click)="buscar()" type="button">Buscar
      </button>
    </div>
  </div>
  <hr>
</form>

<div *ngIf="mostrarFormulario" class="table-container margin-zona">
  <div class="d-flex justify-content-center my-4">
    <h6 class="subtitulo"><strong>Informacion del curso</strong></h6>
  </div>
  <div class="overflow-x-auto">
    <p>Informacion</p>

  </div>
  <hr>
</div>
