<footer>
  <div class="text-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-2">
          <p> Carlos Alberto Tafur</p>
        </div>
      </div>

    </div>
    <div class="text-center p-3 bg-dark">
      <div class="text-center mb-2">
        <a href="https://www.linkedin.com/in/carlosalbertotafur/" class="text-white me-4">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://github.com/carta87" class="text-white me-4">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://www.facebook.com/carlos.tafur.108" class="text-white me-4">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a class="text-white me-4">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="text-white me-4">
          <i class="fa fa-google"></i>
        </a>
        <a class="text-white me-4">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
