<div class="containerAside">
    <picture>
        <!-- <source media="(min:1300px)" srcset="ImageLarge">
        <source media="(min:100px)" srcset="ImageMedium"> -->
        <img src="./assets/foto-principal.jpg" alt="Juan Tafur" title="Juan Tafur">
        <!-- <figcaption>Juan Tafur</figcaption> -->
    </picture>
    <article>
        <h2>Contacto</h2>
        <p>
            Nombre: Carlos Alberto Tafur Ramirez<br>
            Celular: 321 4052510 <br>
            Telefono fijo: 7 21 10 37 <br>
            Correo: cart_albert@hotmail.com <br>
            www.linkedin.com/in/carlos Alberto Tafur <br>
            https://github.com/carta87 <br>
            Profesion: Desarrollador Web<br>

            </p><br>
    </article>
    <article class="skills">
        <h2>Habilidades</h2>
        <p>
            Trabajo en equipo <span class="bar"><span class="teamwork"></span></span><br>
            Creatividad <span class="bar"><span class="Creativity"></span></span><br>
            Inovación <span class="bar"><span class="Innovation"></span></span><br>
            Comunicación <span class="bar"><span class="Communication"></span></span><br>
            Presetacion <span class="bar"><span class="Presetation"></span></span><br>
            Motivation <span class="bar"><span class="Motivation"></span></span><br>
        </p><br>
    </article>
    <article>
        <h2>Software</h2>
        <p>
            Visual Studio Code <span class="bar"><span class="VsC"></span></span><br>
            Github <span class="bar"><span class="Github"></span></span><br>
            Netbeans<span class="bar"><span class="Netbeans"></span></span><br>
            Eclipse<span class="bar"><span class="Eclipse"></span></span><br>
            Intellij IDEA<span class="bar"><span class="Eclipse"></span></span><br>
        </p><br>
    </article>
    <article>
        <h2>Conocimientos</h2>
        <div class="container2">
            <div class="HTML5"></div>
            <!-- <div class="HTML5"><div class="circular-progress"></div></div> -->
            <div class="HTML5"><div class="circular-progress"></div></div>
            <div class="CSS3"><div class="circular-progress"></div></div>
            <div class="Java"><div class="circular-progress"></div></div><br>
            <div class="Sql"><div class="circular-progress"></div></div><br>
            <div class="Scrum"><div class="circular-progress"></div></div><br>
            <div class="ResponsiveWebDesign"><div class="circular-progress"></div></div><br>
        </div>
    </article>
    <article>
        <h2>Idiomas</h2>
        <p>
            Spanish: Native<br>
        </p><br>
    </article>
</div>
