<div class="container-fluid">
  <h3><strong>Editar estudiante</strong></h3>
  <hr>
</div>
<div class="container-fluid d-flex justify-content-center">
  <div class="col-lg-8 col-sm-12">
    <form [formGroup]="fgvalidacion" class="col-12">
      <input formControlName="idEstudiante" type="hidden" class="validate">
      <div class="border border-dark">
        <div class="d-flex justify-content-center" style="background-color: black;">
          <h6 class="subtitulo">Datos Del estudiante</h6>
        </div>
        <div class="row margin-zona">
          <div class="col-lg-6 col-sm-6">
            <label class="form-label" for="nombreEstudiante"><strong>Nombre</strong></label>
            <input class="form-control" formControlName="nombreEstudiante" type="text">
            <span *ngIf="fgvalidacion.get('nombreEstudiante')?.invalid &&
              fgvalidacion.get('nombreEstudiante')?.dirty" class="text-danger">
              {{getErrorMessage('nombreEstudiante')}}
            </span>
          </div>
          <div class="col-lg-6 col-sm-6">
            <label class="form-label" for="apellidosEstudiante"><strong>Apellidos</strong></label>
            <input class="form-control" formControlName="apellidosEstudiante" type="text">
            <span *ngIf="fgvalidacion.get('apellidosEstudiante')?.invalid
              && fgvalidacion.get('apellidosEstudiante')?.dirty" class="text-danger">
              {{getErrorMessage('apellidosEstudiante')}}
            </span>
          </div>
        </div>
        <div class="row margin-zona">
          <div class="col-lg-6 col-sm-6">
            <label for="emailEstudiante" class="form-label"><Strong>Email</Strong></label>
            <input type="email" class="form-control" formControlName="emailEstudiante">
            <span *ngIf="fgvalidacion.get('emailEstudiante')?.invalid &&
              fgvalidacion.get('emailEstudiante')?.dirty" class="text-danger">
              {{getErrorMessage('emailEstudiante')}}
            </span>
          </div>
          <div class="col-lg-6 col-sm-6">
            <label for="cursoNumero" class="form-label"><strong>Número Curso</strong></label>
            <select class="form-control" formControlName="cursoNumero" id="cursoNumero">
              <option value="" disabled selected>Selecciona un curso</option>
              <option *ngFor="let curso of listaCourse" [value]="curso.numberCourse">{{curso.numberCourse}} -
                {{curso.name}}</option>
            </select>
            <span *ngIf="fgvalidacion.get('cursoNumero')?.invalid &&
                          fgvalidacion.get('cursoNumero')?.dirty" class="text-danger">
              {{ getErrorMessage('cursoNumero') }}
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-center" style="background-color: black;">
          <h6 class="subtitulo">Datos Del Acudiente</h6>
        </div>
        <div class="row margin-zona">
          <div class="col-lg-6 col-sm-6">
            <label class="form-label" for="nombreAcudiente"><strong>Nombre</strong></label>
            <input class="form-control" formControlName="nombreAcudiente" type="text">
            <span *ngIf="fgvalidacion.get('nombreAcudiente')?.invalid &&
              fgvalidacion.get('nombreAcudiente')?.dirty" class="text-danger">
              {{getErrorMessage('nombreAcudiente')}}
            </span>
          </div>
          <div class="col-lg-6 col-sm-6">
            <label class="form-label" for="apellidosAcudiente"><strong>Apellidos</strong></label>
            <input class="form-control" formControlName="apellidosAcudiente" type="text">
            <span *ngIf="fgvalidacion.get('apellidosAcudiente')?.invalid &&
            fgvalidacion.get('apellidosAcudiente')?.dirty" class="text-danger">
              {{getErrorMessage('apellidosAcudiente')}}
            </span>
          </div>
        </div>
        <div class="row margin-zona">
          <div class="col-12">
            <label for="emailAcudiente" class="form-label"><strong>Email</strong></label>
            <input type="email" class="form-control" formControlName="emailAcudiente">
            <span *ngIf="fgvalidacion.get('emailAcudiente')?.invalid &&
            fgvalidacion.get('emailAcudiente')?.dirty" class="text-danger">
              {{getErrorMessage('emailAcudiente')}}
            </span>
          </div>
        </div>
        <div class="margin-zona d-flex justify-content-center">
          <button class="btn btn-primary" (click)="edit()" type="button">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
