<h2>Editar curso</h2>
<hr>

<form *ngIf="mostrarFormulario" [formGroup]="fgvalidacion">
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <h6 class="subtitulo">Datos Del Curso</h6>
    </div>
    <div class="row margin-zona">
      <div class="col-lg-6 col-sm-6">
        <label class="form-label" for="idCurso"><strong>Identificador</strong></label>
        <input class="form-control" formControlName="idCurso" type="text" style="background-color: aquamarine;"
          readonly>
      </div>
      <div class="col-lg-6 col-sm-6">
        <label class="form-label" for="numeroCurso"><strong>Numero curso</strong></label>
        <input class="form-control" formControlName="numeroCurso" type="text" style="background-color: aquamarine;"
          readonly>
        <span *ngIf="fgvalidacion.get('numeroCurso')?.invalid &&
            fgvalidacion.get('numeroCurso')?.dirty" class="text-danger">
          {{getErrorMessage('numeroCurso')}}
        </span>
      </div>
      <div class="col-lg-6 col-sm-6 mt-4">
        <label class="form-label" for="nombreCurso"><strong>Nombre curso</strong></label>
        <input class="form-control" formControlName="nombreCurso" type="text">
        <span *ngIf="fgvalidacion.get('nombreCurso')?.invalid &&
            fgvalidacion.get('nombreCurso')?.dirty" class="text-danger">
          {{getErrorMessage('nombreCurso')}}
        </span>
      </div>
      <div class="col-lg-6 col-sm-6 mt-4">
        <label class="form-label" for="nombreProfesor"><strong>Nombre profesor a cargo</strong></label>
        <input class="form-control" formControlName="nombreProfesor" type="text">
        <span *ngIf="fgvalidacion.get('nombreProfesor')?.invalid
            && fgvalidacion.get('nombreProfesor')?.dirty" class="text-danger">
          {{getErrorMessage('nombreProfesor')}}
        </span>
      </div>
    </div>
    <div class="margin-zona d-flex justify-content-center mt-7">
      <button class="btn btn-primary" (click)="edit()" type="button">Actualizar
      </button>
    </div>
  </div>
  <hr>
</form>

<form [formGroup]="fgvalidacion" *ngIf="!mostrarFormulario">
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <h6 class="subtitulo">Datos Del Curso</h6>
    </div>
    <div class="margin-zona">
      <div class="col-12 my-4">
        <label class="form-label" for="idCurso"><strong>Identificador</strong></label>
        <input class="form-control" formControlName="idCurso" type="text">
        <span *ngIf="fgvalidacion.get('idCurso')?.invalid
              && fgvalidacion.get('idCurso')?.dirty" class="text-danger">
          {{getErrorMessage('idCurso')}}
        </span>
      </div>
    </div>
    <div class="margin-zona d-flex justify-content-center mt-7">
      <button class="btn btn-primary" (click)="buscar()" type="button">Buscar
      </button>
    </div>
  </div>
  <hr>
</form>
