<div class="containerContent">

    <br><br><br><br><br><br><br><br><br><br><br>
    <article>
        <h2>Un Poco Sobre mi </h2><br>
        <p>
            Desarrollador de software con experiencia en programación Java, desarrollo de API REST, 
            aplicaciones web y gestión de bases de datos SQL. Manejo sólido de herramientas como Git,
            Postman, Sonar, Jenkins, así como frameworks modernos como Angular y Spring Boot.
            <br>
            Destaco por mi capacidad para trabajar en equipo, orientado al cumplimiento de metas y objetivos.
            Actualmente me encuentro en búsqueda de nuevos retos que impulsen mi crecimiento profesional.
            <br>
            Gracias a mi facilidad para desenvolverme en diversas áreas, he desarrollado habilidades 
            que fortalecen el desempeño de mis funciones, permitiéndome ser un elemento integral y 
            versátil dentro de los equipos de trabajo.
        </p>
    </article>

    <!-- Education -->
    <article>
        <h2>Educacion</h2><br>

        <h3>SENA</h3>
        <p> Diciembre 2025 - Actual</p>
        <p>Tecnología en análisis y desarrollo de software.<br><br>
      
        <h3>Cursos habilidades de platzi</h3><br>
        <p>Curso de Fundamentos de Spark para Big Data - Diciembre 2025</p>
        <p>Curso de Introducción a AWS: Cómputo, Almacenamiento y Bases de Datos - Noviembre 2025</p>
        <p>Curso de Azure IaaS - Noviembre 2025</p>
        <p>Curso de Python - Noviembre 2025</p>
        <p>Curso de Fundamentos de Microsoft Azure (AZ-900) - Mayo 2025</p>
        <p>Curso de Git y GitHub - Mayo 2025</p>
        <p>Curso de Java Spring Security: Autenticación y Seguridad Web - Abril 2025</p>
        <p>Curso de Introducción a los Patrones de Diseño de Software - Abril 2025</p>
        <p>Curso de Docker Avanzado - Abril 2025</p>
        <p>Curso de Docker: Fundamentos - Abril 2025</p>
        <p>Fundamentos de Arquitectura de Software (2018) - Abril 2025</p>
        <p>Curso Profesional de Scrum - Abril 2025</p>
        <p>Curso de Arquitecturas Limpias para Desarrollo de Software - Marzo 2025</p><br>

        <h3>Certificado de Desarollo de Net4skills - Netec </h3><br>
        <p>Desarrollo Seguro BBVA - Febrero 2025</p><br>

        <h3>Cursos Desarollo BackEnd de Exacom</h3><br>
        <p>Certificado Java SE 7 Back-end Server application Development 2.0 - OCP Octubre 2023</p>
        <p>Certificado Java SE 8 Programming || - OCP Septiembre 2023</p>
        <p>Certificado Java SE 8 Programming | - Agosto 2023</p>
        <p>Certificado cloud computing certified associate - Junio 2023</p><br>

        <h3>Cursos Desarollo BackEnd de platzi</h3><br>
        <p>Diploma del Curso de Java Spring -Abril 2023</p>
        <p>Curso de Java SE Orientado a Objetos - Abril 2023</p>
        <p>Diploma del Curso de Java SE Persistencia de Datos - Abril 2023</p>
        <p>Diploma del Curso de Programación Funcional con Java SE - Abril 2023</p><br>

        <h3>Cursos Desarollo BackEnd de EDteam</h3><br>
        <p>Certificado Curso Desarrollo web con Java </p>
        <p>Certificado Curso Java Enterprice Edition(Java EE) </p>
        <p>Certificado Curso Java concurencia y expresiones Lamdba</p>
        <p>Certificado Curso creando APIs REST con buenas practicas</p>
        <p>Certificado Curso de spring desde Cero</p> <br>

        <h3>Universidad de caldas Abril-2022 - Diciembre -2022</h3><br>
        <p>Diplomado en Habilidades en Programación con énfasis en aplicaciones WEB Misión TIC 2022</p>
        <p>Diplomado Desarrollo en aplicaciones web Mision TIC 2022 - Node.js y Angular</p>
        <p>Diplomado Desarrollo de software Misión TIC 2022 - C#</p>
        <p>Diplomado en Programación Básica Misión TIC 2022 - Java</p>
        <p>Diplomado en Fundamentos de Programación Misión TIC 2022 - Python</p> <br>

        <h3>Juan Bosco Obrero - Sena 2006</h3><br>
        <p>Tecnico laboral en sistemas</p>
        <p>Operador sistematizador contable</p>
        <p>Operador basico instalcion de redes</p>
        <p>Mantenimiento computadores</p>

    </article>


    <article>
        <h2>Experiencia Laboral</h2><br>

        <h3>Inetum </h3>
        <br>
        <p> Cargo: Programador Staff de Software - Java
            <br>
        <p> Ingreso: 14 febrero 2025 - Actualmente
            <br>
        <p> Desarollo de requerimientos a la medida con metodologia Scrum en
            ASO, APX y uso de tecnologias como Jenkins, Sonar, Samuel, Jira y otros.
            <br><br>

        <h3>Xkintec</h3>
        <br>
        <p> Cargo: Desarrollador de Software - Spring Boot
            <br>
        <p> Ingreso: 01 octubre 2022 - 07 Enero 2025
            <br>
        <p> Desarollo de requerimientos con metodologias agiles y
            mantenimiento aplicaciones con Spring boot y Angular.
            <br><br>

        <h3> ASNET - AMERICAN SMART SYSTEMS & NETWORKS AS/NET LTDA</h3>
        <br>
        <p> Cargo: Ingeniero de Proyectos Java
            <br>
        <p> Ingreso: 02 Mayo 2022 - 30 Julio 2022
            <br>
        <p> Funciones: gestion de proyectos y solucion de CRM en la app.


        <h2>Referencias</h2>
        <div class="referencias">
            <div class="referencia">
                <h3>Referencias Personales</h3>
                <p>Jhon Fredy Martínez</p>
                <p>Labora: Arquitecto - BBVA</p>
                <p>Celular: 350 278 9230, 305 704 7200</p>
            </div>

            <div class="referencia">
                <h3>Referencia Familiar</h3>
                <p>Juan Guillermo Tafur Ramírez</p>
                <p>Software Developer - Colpatria Scotiabank</p>
                <p>Celular: 315 819 1204</p>
            </div>
        </div>


    </article>
</div>